.container-fluid {
    background-color: #A5B4FC;
    min-height: 100dvh;
    min-width: 500px;
}

.welcome {
    font-size: 45px;
    font-weight: 700;
}

.green-btn {
    background-color: #6DE6B7;
    border-radius: 8px;
    border: none;
    padding: 10px 2rem;
    font-weight: 700;
    font-size: 20px;
}

.green-btn:not([disabled]):hover {
    background-color: #10B981;
    color: white;
}

.gray-btn {
    background-color: #6B7280;
    border-radius: 8px;
    border: none;
    padding: 10px 2rem;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.gray-btn[disabled] {
    background-color: #E5E7EB;
    color: #D1D5DB;
}

.gray-btn:not([disabled]):hover {
    background-color: #D1D5DB;
}